<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="starter"/>
	<springProperty scope="context" name="LOG_PATH" source="logging.file.path" defaultValue="./logs"/>
	<property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
	<property name="SQL_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger - %msg%n"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/${APP_NAME}.log</file>
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/${APP_NAME}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>2GB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<appender name="SQL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/sql.log</file>
		<encoder>
			<pattern>${SQL_LOG_PATTERN}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/sql.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
			<maxFileSize>20MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>2GB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<logger name="org.springframework" level="WARN"/>
	<logger name="org.springframework.security" level="INFO"/>
	<logger name="org.springframework.r2dbc" level="INFO"/>
	<logger name="com.namejm.starter" level="INFO"/>
	<logger name="org.springframework.r2dbc.core" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="SQL_FILE"/>
	</logger>
	<logger name="org.springframework.data.r2dbc" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="SQL_FILE"/>
	</logger>
	<logger name="io.r2dbc.postgresql.QUERY" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="SQL_FILE"/>
	</logger>
	<logger name="io.r2dbc.postgresql.PARAM" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="SQL_FILE"/>
	</logger>

	<root level="WARN">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
	</root>
</configuration>
